/.bash_logout
/.cache/
/.ssh/
/.sudo_as_admin_successful
/.viminfo
/.bash_history
/.bash_sessions
/.bashrc.cache
/install/
/sv
/.bundle
/.gem
/.irssi
/.oracle_jre_usage
/.aws/credentials*
/.aws/totp*
/.aws/assume
/.gnupg
/.assume-aws-role
/.terraform.d
/.vagrant.d
/.cloud-locale-test.skip
/.mix
/.profile
/Blockfile.json.site
/.install4j
/.java/
/.lesshst
/.docker
/.config
/.packer.d
/.aptitude
/.gitconfig
/.npm
/.vbox_version
/.bashrc.cache.*
/.bashrc.secret*
/VirtualBox VMs
/cidata.iso
/cidata/user-data
/.vagrant
/.gpg-agent-info
*.retry
/.ansible
/.ansible.cfg
/.yarnrc
/.wget-hsts
/.vault-token
/.env.d
/.rnd
/.cargo
/.name
/tmp
/homebrew
/.ssh-agent
/node_modules

# macos
/.CFUserTextEncoding
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/.DS_Store
/.Trash/
/Applications/
/.cups/

# cache
/.gemrc
/.m2/settings.xml
/.npmrc
/.pip/pip.conf
/.pydistutils.cfg

# docs
/public

# more ignores on osx
/.BuildServer/
/.Xauthority
/.Xdisplay
/.Xmodmap
/.Xresources
/.cpan/
/.dropbox/
/.git-crypt/
/.gitattributes
/.hammerspoon/
/.host-name
/.inputrc
/.ipython/
/.ivy2/
/.jenkins/
/.jupyter/
/.lein/
/.lein_history
/.local/
/.m2/repository
/.node-gyp/
/.ovftool.ssldb
/.pentadactyl/
/.ptpython/
/.run
/.sbt/
/.sh_history
/.subversion/
/.trc
/.tugboat
/.xinitrc
/.xsession

/.vue-templates/
/.apex
/vendor

/.selected_editor
/vagrant
/fogg
/*org/
/.pt
/.aws/shell
/org
/app-*
/data
/config
/.gh.json
/bin/gpg
/.lpass
/.getssl
/.chef
/.rbenv
/.buildkite
.kitchen
/.berkshelf
/*.box
/.nvm
/.node_repl_history
npm-debug*
/.ipfs
/.awsvault
/bin/docker
/.psql_history
/.flyrc
/Parallels
/.parallel
/.aqq
/go
/bin/goat
/.bless
/.ssh/config
/ki/.ssh
/.content
/.awless

Dockerfile-kitchen*
/.httpie
/.rd
/.neoman
/.gotty*
/.virtualenvs
tmp
tmux-client*log
!.ssh/rc
/secret
/pkgsrc*
*secret*
/.vault*
/.clojure*
/.rediscli_history
/.*_history
/.netrc
/pkg
/src
/bin
/.znc
/.tx-remote
/.kube
/.op
/.virtualgo
/.travis
/.ecr
/drive
/alice
/Google*
/phos
*.mnt 
.ecs
